ftfy
regex
tqdm
timm
fairscale
pandas
numpy==1.22.2
gradio
basicsr
redis
diffusers
realesrgan
accelerate
transformers
tencentcloud-sdk-python
ninja
git+https://github.com/facebookresearch/xformers.git@main#egg=xformers
torchvision
tensorboard
modelcards
safetensors
